@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: #ffffff;
  --foreground: #0d181c;
  --primary: #25434d;
  --secondary: #bfa58a;
  --white: #ffffff;
  --dark: #0d181c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-white: var(--white);
  --color-dark: var(--dark);
  --font-serif: var(--font-serif);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-serif) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif);
}

@keyframes scroll-down {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

.animate-scroll-down {
  animation: scroll-down 2s cubic-bezier(0.76, 0, 0.24, 1) infinite;
}
